* {
    margin: 0;
    padding: 0;
}

/*Estilo textos*/
.conteudo-texto {
    position: relative;
    right: 300px;
    top:250px;
    width: auto;
    height: 50%;
    
    
}

.conteudo-texto p:nth-child(1) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(78, 74, 74);
    font-size: 80px;
    position: relative;
    margin: 0px;
    padding: 0px;
    bottom: 100px;
    left: 1270px;


}


.conteudo-texto p:nth-child(2) {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(78, 74, 74);
    font-size: 30px;
    
    line-height: 40px;
    position: relative;
    left: 550px;

    text-align: center;
    /* text-transform: uppercase; */
}




button:active {
    transform: scale(1.1);
}

.bot-menu {
    border: none;
    margin: 10px 20px 20px;
    background-color: rgba(78, 74, 74, 0);;
    position: relative;
    font-size: 20px;
    word-spacing: 100px;
    color: rgb(2, 2, 2);;

}



.icones-redes-sociais {
    position: relative;
    right: -1700px;
    top: -50px;
    margin: 10px;
    width: 30px;
    cursor: pointer;

}

/*Estilo da imgaem de fundo*/

.minha-foto {
    height: 700px;
    position: absolute;
    bottom: 25%;
    left: 15%;
    /* transform: translateX(-70%); */
    border-radius:30%;
    /* box-shadow: 10px 10px  10px 5px black; */
    

    height: 500px;
    position: absolute;
    bottom: 25%;
    left: 7%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px black;

}

body {
    background-image: url(/61760.jpg);
    background-repeat:no-repeat;
    background-image:linear-gradient(gray);
    background-position: left;
    background-size: 100%;
    margin: 0px;
    
    

}





h1 {
    margin-bottom: 20px;
    margin-left: 50px;
    color: white;
    text-shadow: 5px 5px 5px black;
    text-align: center;
}





.enviar {
    background-color: white;
    height: 40px;
    width: 100px;
    margin-left: 50px;
    font-weight: bold;
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    color: black;
    box-shadow: 8px 8px 8px black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
    margin-left: 50px;
    margin-top: 15px;
    box-shadow: 8px 8px 8px black;
}

form {
    margin-top: 130px;
    text-align: center;
}

form label {
    margin-left: 50px;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 8px 8px 8px black;
    text-align: center;
    background-color:rgba(78, 74, 74, 0);
    border-radius: 50%;
}

input {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid;
    box-shadow: 8px 8px 8px black;
}